You are on the MAIN page!

%section.donation
  =link_to("Donate", donate_path, :remote => true)
  #donation_form

%section.application
  =link_to("Apply for Sponsorship", apply_path, remote:true)
  #application_form

%section.view_selected
  =button_to_function("View Donors","JS FUNCTION")
  =button_to_function("View Applicants","view_applicants_function")
  #main_view